body {
    background: linear-gradient(to bottom, rgb(249, 253, 193), rgba(249, 253, 193, 0.4));   
}

#title {
    text-align: center;
    padding: 6px 30px 6px 30px;
    font-family: 'Lucida Sans';
}


#sudokuTable{
    margin: auto;
    border-collapse: collapse;
    width: 495px;
    border: 5px double black;
    background-color: white;
}

td {
    background-color: white;
    color: black;
    font-size: 21px;
    text-align: center;

    line-height: 55px;
    width: 55px;

    border: 1px dashed black;
}

.button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 20px;
}

.buttons {
    margin: 10px;
    padding: 10px 15px;
    width: 300px;
    line-height: 50px;

    border: none;
    text-decoration: none;

    font-family: 'Lucida Sans';
    font-weight: 500;
    font-size: 20px;

    color: white;
    background: rgb(70, 130, 180)
}

.buttons:hover {
    background-color: rgb(51, 96, 133);
}

.buttons:active {
    transform: translateY(4px);
}

footer {
    font-family: sans-serif;
    font-size: 15px;
}

